<a href="https://colab.research.google.com/github/AbhilashJoshi09/colab/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loops

In [ ]:
for x in range(1,4):
    print("hii")

hii
hii
hii

In [ ]:
total = 0
for x in range(98,2):
    total +=x
print(x)

3

In [ ]:
# loop string data
for x in "hey":
    print(x)

h
e
y

In [ ]:
data="hey"
for i in range(0,3):
  print(i,data,data[i])

0 hey h
1 hey e
2 hey y

In [ ]:
data="Hello hey"
for i in range(0,len(data) ):
  print(i,data[i])

0 H
1 e
2 l
3 l
4 o
5
6 h
7 e
8 y

In [ ]:
data="Hello hey"
for i in range(0,10,2 ):
  print(i,data[i])

0 H
2 l
4 o
6 h
8 y

In [4]:
total = 0
for x in range(15,101):
  if(x%2 and x%3 ==0):
    total=total+x
    print(total)

15
36
63
96
135
180
231
288
351
420
495
576
663
756
855

In [ ]:
strings = [
    "hello",
    "education",
    "beautiful",
    "cdf",
    "quick brown fox jumps over the lazy dog"
]

for string in strings:
    if (string):
        print(f" {string} contains all the vowels")
    else:
        print(f" {string} does not contain all the vowels")

 hello contains all the vowels
 education contains all the vowels
 beautiful contains all the vowels
 cdf contains all the vowels
 quick brown fox jumps over the lazy dog contains all the vowels

In [ ]:
for i in range(1,5):

  for j in range(1,6):
    print(j,end="")

  print("")

12345
12345
12345
12345

In [11]:
for i in range(1,4):

  for j in range(10,19,2):
    print(j, end=" ")

  print("")

10 12 14 16 18
10 12 14 16 18
10 12 14 16 18

In [8]:
for i in range(1,3):

  for j in range(10,16):
       print(j,end=" ")

  print("")

10 11 12 13 14 15
10 11 12 13 14 15

In [13]:

for i in range(1,5):
  for j in range(1,i+1):
      print("*", end="")
  print("")

*
**
***
****

In [14]:
for i in range(5,0,-1):
  for j in range(1,i+1):
      print("*", end="")
  print("")

*****
****
***
**
*

In [52]:
for i in range(1,5):
  for j in range(1,i+1):
      print(j, end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4

In [50]:
for i in range(1,5):
  for j in range(i):
      print(i, end=" ")
  print("")

1
2 2
3 3 3
4 4 4 4

In [55]:
for i in range(4,0,-1):
  for j in range(i):
      print(i, end=" ")
  print("")

4 4 4 4
3 3 3
2 2
1

In [65]:
for i in range(4,0,-1):
  for j in range(4-i+1):
      print(i, end=" ")
  print("")

4
3 3
2 2 2
1 1 1 1

In [68]:
for i in range(1,5):
  for j in range(4-i+1):
      print(i, end=" ")
  print("")

1 1 1 1
2 2 2
3 3
4

In [84]:
for i in range(10,15):
  for j in range(14-i+1):
      print(i, end=" ")
  print("")

10 10 10 10 10
11 11 11 11
12 12 12
13 13
14